=form_for item_rating, item_rating_form_params(item_rating) do |f|
  - ItemRating::RATINGS.each_with_index do |text, ind|
    = f.radio_button :rating, ind
    = f.label "rating_#{ind}", text
  = f.submit
